.white-circle {
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 8px #d8dbe3;
    border-radius: 200px;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

.white-circle:hover {
    box-shadow: 0 0 8px #007dbc;
}

.white-circle img {
    position: relative;
    top: 18px;
    width: 150px;
    height: 150px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.audio-control {
    flex-direction: column;
    text-align: center;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 21px;
    color: #444;
    font-size: 13px;
    font-weight: 400;
    background-color: #f9fafc;
}

canvas {
    height: 200px;
    width: 100vw;
    display: block;
    position: fixed;
    top: 10px;
    left: 0;
    z-index: -1;
}

div#transcriptPane {
    margin-top: 10px;
    height: 50vh;
    width: 300px;
    border: 1px solid darkblue;
    text-align: left;
    background-color: white;
    overflow-y: auto;
}

div.lexSaid {
    display: inline-block;
    margin-bottom: 1px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px;
    background-color: pink;
}

div.userSaidLine {
    display: flex;
    margin-bottom: 1px;
    justify-content: flex-end;
}

span.userSaid {
    display: inline-block;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px;
    background-color: lightblue;
}
